<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/GeneratedExamSheets.css">
</head>
<body>
    <div class="Root">
        <div class="left-button">
       
        </div>
       <div class="main">
         <!-- title div open -->
         <div class="title">
            <div>Shobhit University,Gangoh<br></div>
         <div>First Sessional Exam<br></div>
         <div>Session:2023-2024</div>
         </div>
         <!-- title div close -->
          <!-- exam details open -->
         <div class="exam-details">
            <div class="left-details">
 <span class="course"> Course - MCA</span><br>
 <span class=" Subject ">Subject - SPM</span><br>
   <span class="time">Time-1HR</span><br>
            </div>
            <div class="right-details">
     <span class="Semester">Semester - 1st</span><br>
       <span class="Subject-code">Subject Code - MCA-251</span><br>
        <span class="max-marks">Maximam Marks-20</span><br>
            </div>
         </div>
         <!-- exam-details close -->
          <!-- section- A open -->
           <div class="section">
            <div class="section-title">Section A</div>
            <div class="section-question-title">
                <span>1.Multiple Choice Questions</span>
                <span> 1X5=5</span>
            </div>
            <div class="section-questions">
            <span>
                Q1. Name the first Phase of SDLC.<br>
                Q2.Black Box testing is also known as............<br>
                Q3. SRS stands for..........<br>
                Q4. SDLC stands for..............<br>
                Q5. What does the RAD software process stand for?<br>
            </span>
            </div>
           </div>
           <!-- section -A close -->

           <!-- section B starts -->
            <div class="section">
            <div class="section-title">Section B</div>
            <div class="section-question-title">
                <span>2. Three Short Questions</span>
                <span> 2X3=6</span>
            </div>
            <div class="section-questions">
            <span>
               Q1.What do you understand by software engineering?<br>
               Q2. Explain Agile methodology in software engineering.<br>
               Q3.Explain Project Life Cycle.<br>
            </span>
            </div>
           </div>
            <!-- Section b end -->

            <!-- Section C starts -->
             <div class="section">
            <div class="section-title">Section C</div>
            <div class="section-question-title">
                <span>2. Three Long Questions</span>
                <span> 3X3=9</span>
            </div>
            <div class="section-questions">
            <span>
             Q1.Explain Waterfall model and discuss about its advantages and disadvantages.<br>
             Q2. Define SDLC and its various Phase.<br>
             Q3.What are three 'R' Reuse,Reengineering and Retooling in software engineering?<br>
            </span>
            </div>
           </div>
             <!-- Section C end -->
       </div>
        <div class="right-button">
        </div>
    </div>
    
</body>
</html>